{% extends "base.html" %}
{% import "home_macro.html" as macro %}
{% block styles %} {{super()}}
{% endblock %}
{% block body %} {% block content %}
<div class="container-fluid">
  <!-- to display post about me etc -->
  <section class="">
    <div class="row">
      <div class="col-md-2 p-3" style="background-color:rgb(23, 26, 228);">
        {% block sidebar %} {% include
          "sidebar.html" %} {% endblock %}
      </div>
      <div class="col-md-8 bg-light">
        <br>
        <br>
        <marquee behavior="scroll" direction="left" scrollamount="5" class="text-dark">Hello  <em>{{current_user.username}}!</em>
          What's happening in <em>{{current_user.locations}}</em>  Today?</marquee>
        <hr>
        <div class="container">
          <div class="text-center">
            {{macro.display_posts(posts, commentform, current_user)}}
          </div>
        </div>
      </div>
      <div class="col-md-2" style="background-color: #000">
        <h2 class="text-white">Recent Posts </h2>
        <div class="form-group">
          <label for=""></label>
          <input type="search" name="" id="" class="form-control" placeholder="search post...">
          <button id="popbtn" class="btn btn-light">Search</button>
        </div>
        {{macro.display_latestposts(recent_posts, current_user)}}
      </div>
    </div>
  </section>
</div>

{% endblock %} {% endblock %}