{% extends "base.html" %}
{% import "home_macro.html" as macro %}
{% block styles %} {{super()}}
{% endblock %}
{% block body %} {% block content %}
<div class="container-fluid">
  <!-- to display post about me etc -->
  <section class="">
    <div class="row">
      <div class="col-md-2 bg-dark p-3">
        {% block sidebar %} {% include
          "sidebar.html" %} {% endblock %}
      </div>
      <div class="col-md-8 bg-primary" style="">
        <br>
        <br>
        <marquee behavior="scroll" direction="left" scrollamount="5" class="text-white">Hello {{current_user.username}}! What's happening in {{current_user.locations}} Today?</marquee>
        <hr>
        <div class="container d-flex">
          <div class="text-center">
            {{macro.display_posts(posts, commentform, current_user)}}
          </div>
        </div>
      </div>
      <div class="col-md-2 bg-dark">
        <h2 >Recent Posts </h2>
        <div class="form-group">
          <label for=""></label>
          <input type="search" name="" id="" class="form-control" placeholder="search post...">
          <button id="popbtn" class="btn btn-light">Search</button>
        </div>
        {{macro.display_latestposts(recent_posts, current_user)}}
      </div>
    </div>
  </section>
</div>

{% endblock %} {% endblock %}