<div class="flex-shrink-0 p-3 text-center" style="width: 280px;">
  <div>
    <hr/>
    <img src="{{url_for('static', filename='photos/blacklogo.jpeg')}}" class='bg-dark' alt="profile image"
    style="width:150px;
    height:150px;
    border-radius:50%;">
      <br>
     <span class="fs-5 fw-semibold text-dark">@{{current_user.username}}</span> <br>
     <p class="fs-5 fw-semibold">{{current_user.firstname}} {{current_user.lastname}}</p> 
  </div>
  <ul class="list-unstyled ps-0">
    <h2></h2>
    <div class="">
      <a class="btn btn-light m-2" href="{{url_for('posts.new_post')}}">New Post</a> <br>
    </div>
    <li class="border-top my-3"></li>
    <li class="mb-1">
      <a href="{{url_for('home.profile')}}">
      <button class="btn btn-dark m-3 btn-toggle align-items-center "
        data-bs-target="#account-collapse"  aria-expanded="false">
        My Profile
      </button></a> <br>
      <a href="{{url_for('auth.logout')}}">
      <button class="btn btn-dark btn-toggle m-2 align-items-center "
      data-bs-target="#account-collapse"  aria-expanded="false">
      Log Out
    </button></a>
  
    </li>
  </ul>
</div>